* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

nav {
    menu {
        background-color: #388296;
        height: 100px;

        /* 
            Acomodar los botones para que tengan suficiente espacio entre 
            ellos y que estén centrados en el menú. También evitar que 
            se estiren verticalmente, deberían quedar centrados. 
        */
        display: flex;

        list-style: none;
        li {
            background-color: white;
            border-radius: 10px;

            a, a:visited {
                color: black;
                text-decoration: none;

                display: block;
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }
    }
}

main {
    background-color: #e5e5e5;
    padding: 30px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}

#galeria {
    /* 
        Hacer que las fotos aparezcan una atrás de otra (horizontalmente)
        y con un poco de espacio entre ellas para que no queden tan pegadas. 
        No deberían salirse de la pantalla, sino que deberían saltar 
        "a otra linea" cuando se acaba el espacio horizontal. La "pared"
        debería quedar centrada.
    */

    list-style: none;
    li {
        height: 300px;
        img {
            height: 100%;
        };
    }
}

footer {
    background-color: rgb(174, 174, 174);

    /* 
        Hacer que los <p> aparezcan uno al lado del otro. Idealmente 
        deberían tener espacio entre ellos.
    */

    height: 50px;
    overflow: hidden;
    p {
        display: flex;
        align-items: center;
        height: 50px;
    }
}
