header {
    box-sizing: border-box;
    height: 100dvh;
    padding: 40px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    h1 {
        background-color: #8dc795;
    
        border-radius: 20px;
        box-shadow: grey 5px 5px 10px;
    }
}

footer {
    a, a:visited {
        display: block;
        margin: 30px;
        padding: 30px;
        border-radius: 30px;


        background-color: orange;
        color: white;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;

        box-shadow: orange 0 0 20px;
    }
}