* {
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: dimgray;

    font-family: 'Latin Modern Sans', sans-serif;
}

main {
    /* aspect-ratio tiene prioridad minima asi que aca no sirve */
    width: min(100%, calc(100dvh * (4 / 3)));
    height: min(100%, calc(100dvw * (3 / 4)));

    background-color: white;

    overflow-y: auto;
    scrollbar-gutter: stable;
    
    scroll-snap-type: y mandatory;

    container-type: size;

    counter-reset: numero-de-diapo;
}

.diapo {
    counter-increment: numero-de-diapo;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;

    font-size: 4cqh;

    display: grid;
    grid-template-columns: 100cqw;
    grid-template-rows: 10cqh 87cqh 3cqh;

    header {
        background-color: #8DC795;

        box-sizing: border-box;
        padding: 0.5cqh 2cqw;

        h2 {
            font-weight: normal;
            font-size: 1.5em;
        }
    }

    footer {
        background-color: #8DC795;

        font-size: 0.5em;

        p {
            &::after {
                content: counter(numero-de-diapo);
            }
        }
    }
}